@mixin l {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

.home-page {
  min-height: 100vh;
}

.book-genres-container {
  position: relative;

  .arrow-icon {
    display: none;

    @include l {
      display: block;
      position: absolute;
      left: -7rem;
      top: 95%;
      width: 8rem;
    }
  }
}
