:host ::ng-deep .p-message-wrapper {
    background-color: #f4d9fd;
    border: solid #8a427a;
    border-radius: 8px;
    border-width: 0 0 0 6px;
    color: #2c1e30;
    display: flex;
    justify-content: center;
    align-items: center;
  }