footer{
    padding: 1rem 0;
    background-color: rgb(251, 221, 251);
    color: #1E1D1D;
    .license-img{
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
    }

    p{
        margin: 0;
    }
}